#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  height: 100vh !important;
}

.topsellslider-main-class {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-evenly;
  width: 100vw !important;
}

.slidericon-all-fortopsell {
  object-fit: cover;
  border-radius: 100px;
  border: 1px solid white;
  transition-duration: 0.3s;
}

.slidericon-all-fortopsell:hover {
  width: 15vw !important;
  transform: rotate(4deg);
}